@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  padding: 0;
  border: 0;
  box-sizing: 0;
  font-family: "Quicksand", sans-serif;
}
body {
  text-align: center;
  height: 100vh;
}
header,
footer {
  padding: 0.4rem 10%;
  background-color: rgb(202, 234, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer {
  position: sticky;
  bottom: 0;
}

select,
button {
  text-align: center;
  height: 2rem;
  margin: 0 1rem;
  padding: 0 1rem;
  background-color: white;
  border: 1px solid black;
}
